<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="salestracker.shyamsales.com.salestracker" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateCustomerStatusActivity"
            android:label="@string/title_activity_update_customer_status"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
        <activity
            android:name=".DataUpdateActivity"
            android:label="@string/title_activity_data_update"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
        <activity
            android:name=".AddNewCustomerActivity"
            android:label="@string/title_activity_add_new_customer"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
        <activity
            android:name=".ListCountersGeneric"
            android:label="@string/title_activity_list_visited_counters"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".CreateOrderActivity"
            android:label="@string/title_activity_create_order"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
        <activity
            android:name=".TargetSelectionActivity"
            android:label="@string/title_activity_target_selection"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
        <activity
            android:name=".TargetVisitStatusActivity"
            android:label="@string/title_activity_target_visit_status"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="salestracker.shyamsales.com.salestracker.MainActivity" />
        </activity>
    </application>

</manifest>
